.button {
    padding: 0.8rem 1.5rem;
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.button:hover {
    background-color: #6a1bb2;
}